@model RecipesListViewModel

@foreach (var r in Model.Recipes)
{
    @Html.Partial("RecipeSummary",r)

}
<div class="float-right" 
    page-model="@Model.PagingInfo"
     page-action="List"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-secondary"
     page-class-selected="btn-primary"></div>